@import url("https://fonts.googleapis.com/css2??family=Bebas+Neue&family=Kanit&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* color-scheme: dark; */
}

.home-heading {
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
}

.logo {
  /* font-family: 'Bebas Neue', sans-serif; */
  font-family: 'Kanit', sans-serif; 
}

.bw-border{
  border: 2px solid black;
  /* border-right-width: 8px; */
  border-bottom-width: 8px;
  border-radius: 0.75rem;
  /* box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.6), 0 8px 10px -6px rgb(0 0 0 / 0.6); */
}

:root {
  color: rgba(8, 8, 8, 0.87);
}




